html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;

}

header {
  background-color: #ccc;
 
  
}

header a {
  text-decoration: none;
  
}

header div {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 960px;
}

header li{
  padding: 1em;
}
header li a:hover, li.active a {
  color: red;
}

header ul{
  list-style: none;
  display: flex;
}

header .search{
  align-self: end;
}


.ob {
  display: flex;
  flex-direction: row;
  width: 960px;
}


.ob.first{
  align-items: center;
  flex-direction: column;
  margin: 1em;
  
}

.ob.first h1, .ob.first p{
  padding: 0;
  margin: 0;
}

.ob div {
  margin:auto;
  
}


.ob.wide{
  flex-grow: 3;
}


.ob.small{
  flex-grow: 2;
}

